/* Site wrapper for grid */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  background: rgba(3, 47, 98, 0.3)
}
.wrapper {
  display: grid;
}
a {
  text-decoration: none;
}
/* ****** */
/* Header */
/* ****** */
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgba(69, 69, 73, 0.85);
  border-bottom: 1px solid black;
  position: fixed;
}

.header__link a {
  color: lightcyan;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}
/* //TODO - fix zoom on hover */
.header__link a:hover {
  transform: scale(0.8);
  text-decoration: underline;
}
/* ****** */
/* Jumbotron Image(s) */
/* ****** */
.jumbotron {
  margin-top: -2.4%;
  /* Image courtesy of Jonathan Gallegos on www.unsplash.com */
  background-image: url(../img/jonathan-gallegos-728815-unsplash-min.jpg);
  background-position: 68% 32%;
  background-size: cover;
  border-bottom: 1px solid black;
  width: 100%;
  height: 25em;
}

.site__title {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-align: end;
  padding: 16% 5% 0 0;
}
.disclaimer {
  text-align: center;
}
.disclaimer a {
  color: #032F61;
}
.disclaimer a:hover {
  color: rgb(117, 120, 163);
}
/* ****** */
/* Content */
/* ****** */
/* Section Grid */
.cards {
  width: 95%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin: auto;
}
.cards__title {
  text-align: center;
  font-size: 1.3em
}
.card {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  -webkit-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.75);
  background: linear-gradient(lightgray, lightcyan);
}
/* Individual cards */
.one {
  display: grid;
  height: 20em;
  justify-content: center;
}
.two {
  display: grid;
  height: 20em;
  justify-content: center;
}
.three {
  display: grid;
  height: 20em;
  justify-content: center;
}

.prevention {
  display: grid;
  width: 100%;
  height: 200px;
  justify-content: center;
  background-color: #032F61;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.funds {
  width: 75%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin: auto;
}
.donations__card {
  display: grid;
  background-color: lightcyan;
  height: 20em;
  justify-content: center;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 1%;
  text-align: center;
}
.scholarship__card {
  display: grid;
  background-color: lightgrey;
  height: 20em;
  justify-content: center;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 1%;
  text-align: center;
}
/* ****** */
/* About  */
/* ****** */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* ****** */
/* Footer */
/* ****** */
.footer_bar {
  display: flex;
  background-color: lightyellow;
  justify-content: space-around;
  padding: 2%;
  height: 100px;
  border-top: 1px solid black;
}
.footer__one {
  border-right: 1px solid gray;
  padding-right: 5%;
}
.footer__two {
  border-right: 1px solid gray;
  padding-right: 2%;
}
.copyright {
  text-align: center;
  font-size: 1.2em;
}
